html,
body {
    background-color: #C48A47;
    min-width: 290px;
    color: black;
    line-height: 1.5;
    scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid 1px black;
  /* filter: drop-shadow(0 0 0.75rem #7d12ff); */
}

header {
  color: #6BD66B;
  filter: drop-shadow(0 0 0.75rem #7d12ff);
  margin: 10px;
  font-size: xx-large;
  font-family: 'Cormorant Garamond', serif;
}

#main-doc header {
  text-align: left;
  margin: 0px;
  font-size: xx-large;
  font-family: 'Cormorant Garamond', serif;
  filter: drop-shadow(0 0 0.75rem #7d12ff);
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
  padding: 10px 30px;
}

#navbar a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size: larger;
  font-family: 'Cormorant Garamond', serif;
}

a:visited {
  color: black;
}

a:hover {
  color: #6BD66B;
  filter: drop-shadow(0 0 0.75rem #7d12ff);
}

#navbar p {
  margin: 0;
  display: flex;
  gap: 70px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: x-small;
  text-transform: uppercase;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  font-size: small;
  font-family: 'IBM Plex Mono', monospace;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

section article {
  color: black;
  /* margin: 15px; */
  font-size: 0.96em;
  margin-bottom: 30px;
}

form {
  margin-top: 30px;
}

label {
  margin-bottom: 10px;
  width: 70px;
}

input, textarea {
  margin-bottom: 10px;
  width: 400px;
  border-radius: 17px;
}

input[type="submit"] {
  width: 500px;
  filter: drop-shadow(0 0 0.40rem #7d12ff);
  margin-bottom: 30px;
}

.form-divs {
  display: flex;
  gap: 17px;
}

.main-section {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.author {
  font-family: 'Cormorant Garamond', serif;
  font-size: large;
  margin-bottom: -15px;
}

.poet-image {
  float: right;
  width: 20%;
}

.citation {
  margin-top: 70px;
  font-family: 'Cormorant Garamond', serif;
  font-size: large;
}

.citation-text {
  margin-top: 70px;
  font-family: 'IBM Plex Mono', monospace;
}

/* https://hardiquedasore.medium.com/how-to-use-a-line-break-in-json-3c27d7ee8fc6 */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */
p {
  white-space: pre-line;
}

section li {
  margin: 15px 0px 0px 20px;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    /* border: 1px solid; */
    height: 207px;
  }

  #navbar {
    background-color: #C48A47;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 1px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}